:root{
    --blanco: rgb(255, 255, 255);
    --azulClaro: rgb(38, 106, 130);
    --oscuro: rgb(0,0,0,1);
    --gris: rgb(236, 236, 236);
}

.ocultar {
    display: none;
}

@keyframes desplazamiento {
    /* desplazamiento inicial */
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.encabezado {
    background-image: url('./images/ropa-fondo-2.jpg');
    background-repeat: no-repeat;
    height: 100vh;

}



.contenido-navegacion {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   background-color: var(--blanco);
   box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.45);
}



.navegacion {
    background-color: var(--blanco);
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    animation: desplazamiento .5s ease-in-out;
}



.navegacion a{
    display: block;
    font-size: 2rem;
    padding: 0.5rem;
    color: var(--oscuro);
    text-decoration: none;
    text-align: center;
    
}

.navegacion :hover {
    background-color: var(--gris);
}

@media(min-width: 768px) {

}

.hamburguesa span {
    position: relative;
    left: 150px;
    width: 2.2rem;
    height: 0.3rem;
    border: 3px solid rgb(255, 255, 255);
    background-color: var(--oscuro);
    display: block;
    
}

/* IMAGENES */
.usuario {
    position: relative;
    left: 320px;
    
}

.cesta {
    position: relative;
    left: 480px;
}

.logo {
    
    position: relative;
    left: -200px;
}
